{% extends "frame.html" %}

{% block main %}
  {% for entry in entries %}
    {% module Entry(entry) %}
  {% end %}
        <div class="tpl-content-wrapper">
            
            <div class="container-fluid am-cf">
                <div class="row">
                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
                        <div class="page-header-heading"><span class="am-icon-home page-header-heading-icon"></span> 账户状态和声明 <small>Account status</small></div>
                        <p class="page-header-description">您现在使用的为大众版本，使用本系统数据无任何限制，不收取任何费用。平台上的信息均来自网络公开信息，由信息来源方对信息真实性等负相应责任，平台所展示信息出于传递更多信息之目的，并不意味平台赞同其观点或已经证实其内容的真实性。</p>
						<p class="page-header-description">数据来源包括但不限于：全国企业信用信息公示系统 中国裁判文书网 中国执行信息公开网 国家知识产权局 商标局 版权局。</p>
                    </div>
                    <div class="am-u-lg-3 tpl-index-settings-button">
                        <button type="button" class="page-header-button"><span class="am-icon-paint-brush"></span> 设置</button>
                    </div>
                </div>

            </div>

            <div class="row-content am-cf">
                <div class="row  am-cf">
                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                        <div class="widget am-cf">
                            <div class="widget-head am-cf ">
                                <div class="widget-title am-fl">输入要查询的企业名称</div>
                                <div class="widget-function am-fr">
                                    <a href="javascript:;" class="am-icon-cog"></a>
                                </div>
                            </div>
                            <div class="widget-body am-fr">
                                <form action="business_list.html">
                                <div class="am-fl">
                                    <div class="row">
										<div class="am-u-sm-12 am-u-md-12 am-u-lg-8">
											<div class="am-input-group am-input-group-sm tpl-form-border-form cl-p">
												<input type="text" name="business_name" class="am-form-field "  placeholder="请输入公司名称、人名、产品名称或其它关键词 ..." required>
												<span class="am-input-group-btn">
													<button id="btn" type='submit' class="am-btn  am-btn-default am-btn-success tpl-table-list-field am-icon-search" type="button"></button>
												</span>
											</div>
										</div>
									</div>
                                </div>
                                </form>
                                <div class="am-fr am-cf">
                                    <div class="widget-fluctuation-description-amount text-success" am-cf>
                                        +23014

                                    </div>
                                    <div class="widget-fluctuation-description-text am-text-right">
                                        本月新增加
                                    </div>
                                </div>
                            </div>
							<div class="widget-body am-fl">
								<div class="am-fl">
									<div class="widget-title am-fl">大家都在搜索的企业：</div>
								</div>
							</div>
							<div class="widget-body am-fl">
								<div class="am-fl am-cf">
                                    <div class="widget-title am-fl">国信证券股份有限公司</div>
								</div>
							</div>
							<div class="widget-body am-fl">
								<div class="am-fl am-cf">
									<div class="widget-title am-fl">招商证券股份有限公司</div>
								</div>
							</div>
							<div class="widget-body am-fl">
								<div class="am-fl">
									<div class="widget-title am-fl">私募基金公司</div>
								</div>
							</div>
							<div class="widget-body am-fl">
								<div class="am-fl">
									<div class="widget-title am-fl">合伙企业</div>
								</div>
							</div>
							<div class="widget-body am-fl">
								<div class="am-fl">
									<div class="widget-title am-fl">金证科技股份有限公司</div>
								</div>
							</div>
							<div class="widget-body am-fl">
								<div class="am-fl">
									<div class="widget-title am-fl">前海合伙企业</div>
                                </div>
							</div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
<script>

</script>
{% end %}